a {
  text-decoration: none;
}

.search-container {
  z-index: 999;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  background-color: rgb(9, 221, 237);
}
.search-form {
  display: flex;
  justify-content: center;
}
.search-form input {
  width: 300px;
  padding: 20px 20px;
}
.search-form button {
  display: flex;
  margin-left: 12px;
  width: 70px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-form button:hover,
.search-form button:focus {
  background-color: rgb(53, 162, 31);
  border-color: black;
}
.gallery-container {
  padding-left: 15px;
  padding-right: 15px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}
.gallery {
  padding-top: 130px;
  justify-content: center;
  gap: 20px;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery-item {
  display: flex;
  flex-direction: column;
}

.gallery-item__img {
  display: block;
  width: 300px;
  height: 200px;
}

.info {
  padding: 10px;
  justify-content: space-around;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}
.load-more.is-hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 25px auto 50px auto;
  padding: 18px 37px;
  border: none;
  border-radius: 5px;
  background-color: rgb(9, 221, 237);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.load-more:hover {
  background-color: rgb(53, 162, 31);
  color: aliceblue;
  transition: all 0.3s;
}
